/* styles.css */
.banner {
    text-align: center;
}
.banner img {
    width: 100%;
    height: 80px;
}

body::before {
    content: "";
    background-image: url('assets/images/fond1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-attachment: scroll;
}
.navbar-logo {
    width: 70px;
    height: 80px;
}
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.5);
}
.container.h-100 {
    margin-bottom: 70px;
}
.navbar-nav {
    margin-left: auto;
    height: 50px;
}
.collapse.show {
    display: block !important;
}
.navbar-nav .nav-link {
    transition: background-color 0.3s ease-in-out;
  }
  
.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
  
.navbar-stop-collapsing .navbar-nav .nav-link {
    transition: none;
}
.custom-navbar .dropdown-menu {
    transform: translate3d(0, 100%, 0) !important;
}
.custom-image {
    width: 100px;
    height: 100px;
    margin-right: 100px;
}
.navbar .btn-custom {
    background-color: black;
    color: white;
}
.beer-list {
    margin-top: 60px;
    margin-bottom: 80px;
}
.navbar .btn-custom:hover {
    background-color: yellow;
    color: black;
}
.centered-content {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}
.beer-item {
    margin-bottom: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pagination li {
    list-style: none;
    margin: 0 5px;
}
.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
}
.pagination a:hover {
    background-color: #eee;
}
.pagination .active a {
    background-color: #333;
    color: #fff;
}
.beer-list-container {
    max-height: 70vh;
    overflow-y: auto;
}
.pagination-row a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    color: #333;
    border: 1px solid #ccc;
}
.pagination-row a:hover {
    background-color: #eee;
}

.pagination-row .active a {
    background-color: #333;
    color: #fff;
}
.pagination .page-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pagination .page-link.active {
    background-color: #333;
    color: #fff;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(246, 222, 5);
}
.nav-dark {
    background-color: black !important;
}
@media (max-width: 767px) {
    .menu-dropdown {
        display: none;
    }
    .navbar-collapse {
        transition: height 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
    }
}
@media (max-width: 868px) {
    .container.h-100 {
        margin: 0;
        width: 100%;
    }
}